/* #Fonts
================================================== */
@font-face {
  font-family: 'metali';
  src: url('../font/Metali-400.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'metali';
  src: url('../font/Metali-500.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'metali';
  src: url('../font/Metali-700.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'assistant';
  src: url('../font/Assistant-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'assistant';
  src: url('../font/Assistant-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'assistant';
  src: url('../font/Assistant-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

/* #Global
================================================== */
body {
  font-family: 'metali', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

.text-red {
  color: #EC1B2F !important;
}

.bg-red {
  background-color: #EC1B2F !important;
  color: white;
}

.text-gray {
  color: #A4A4A4 !important;
}

.text-black {
  color: black !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-center {
  text-align: center !important;
}

.assistant {
  font-family: 'Montserrat', sans-serif!important;
}

.metali {
  font-family: 'metali', sans-serif !important;
}

input,
select {
  font-family: inherit;
  font-size: inherit;
}

/* #Buttons & Links
================================================== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.125vw;
  border: 1px solid transparent;
  font-size: 1.3vw;
  padding: 0 0.8vw 0 1.3vw;
  backface-visibility: hidden;
  transition: all .3s ease;
  min-width: 12.18vw;
}

.btn-primary {
  background-color: #EC1B2F;
  color: white;
}

.btn-primary:hover {
  background-color: white;
  color: #EC1B2F;
  border-color: #EC1B2F;
}

.btn-secondary {
  background-color: transparent;
  color: black;
  border-color: black;
}

.btn-secondary:hover {
  background-color: black;
  color: white;
}

.btn-tertiary {
  color: #EC1B2F;
  background-color: white;
  border-color: #EC1B2F;
}

.btn-tertiary:hover {
  background-color: #EC1B2F;
  color: white;
}

.btn-quintary {
  color: white;
  background-color: transparent;
  border-color: white;
}

.btn-quintary.active {
  background-color: black;
  color: white;
  border-color: black;
}

.btn-arrow {
  font-size: 80%;
  margin-right: 3.125vw;
}

.btn-icon {
  width: 1vw;
  height: 1vw;
  object-fit: contain;
  object-position: center;
  margin-right: .25vw;
}

.link {
  color: #EC1B2F;
  font-size: 1.15vw;
  border-bottom: 1px solid #EC1B2F;
  display: inline-flex;
  align-items: center;
}

.link i {
  margin-right: 1.3vw;
}

@media (max-width: 1023.98px) {
  .btn {
    height: 11.33vw;
    font-size: 5.33vw;
    padding: 0 2.66vw 0 2.66vw;
    min-width: 60vw;
  }

  .link {
    font-size: 4.66vw;
  }

  .btn-arrow {
    margin-right: 16vw;
  }
}

/* #Checkbox
================================================== */
.checkbox_wrap {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  position: relative;
  padding-right: 1.35vw;
  cursor: pointer;
  user-select: none
}

.checkbox_wrap input {
  -webkit-appearance: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  margin: 0;
  right: 0;
  top: 0
}

.checkbox_wrap input:checked~.checkmark:after {
  display: block
}

.checkbox_wrap a {
  text-decoration: underline
}

.checkbox_wrap .checkmark {
  position: absolute;
  top: .13rem;
  right: 0;
  width: .78vw;
  height: .78vw;
  background-color: transparent;
  border: none;
  background: transparent;
  pointer-events: none;
  border: 1px solid #fff
}

.checkbox_wrap .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: .15vw;
  top: 35%;
  width: .18vw;
  height: .4vw;
  border: solid #fff;
  border-width: 0 .1vw .1vw 0;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}

@media (max-width: 1023.98px) {
  .checkbox_wrap {
    padding-right: 6.41vw;
  }

  .checkbox_wrap .checkmark {
    width: 4.01vw;
    height: 4.01vw;
  }

  .checkbox_wrap .checkmark:after {
    left: .3vw;
    top: 30%;
    width: 1.2vw;
    height: 2.5vw;
    border-width: 0 .27vw .27vw 0;
  }
}

/* #Underline
================================================== */
.underline,
.underline-center {
  position: relative;
  margin-bottom: 1vw;
  padding-bottom: .5vw;
}

.underline::after,
.underline-center::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 11.3vw;
  height: 1px;
  background-color: white;
}

.underline-center::after {
  right: 50%;
  transform: translateX(50%);
}

.underline-red::after {
  background-color: #EC1B2F;
}

@media (max-width: 1023.98px) {

  .underline,
  .underline-center {
    margin-bottom: 4vw;
    padding-bottom: 4vw;
  }

  .underline::after,
  .underline-center::after {
    width: 21.3vw;
  }
}

/* #Line
================================================== */
.line {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.line::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #CBCBCB;
}

.line span {
  position: relative;
  z-index: 2;
  background-color: white;
  padding: 0 1.8vw;
}

/* #Select
================================================== */
.select-primary {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: .25vw;
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  height: 4.6vw;
  color: white;
  transition: all .3s ease;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5.1vw;
  height: 100%;
}

.header.header-white,
.header.header-always-white {
  background-color: white;
  color: black;
}

/* Logo */
.header-logo {
  width: 12vw;
}

.header-logo img {
  width: 100%;
}

/* Nav */
.header-nav,
.header-nav ul,
.header-nav li,
.header-nav li>*,
.header-nav li a,
.header-nav .accordion {
  height: 100%;
}

.header-nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-nav li:not(:last-child) {
  margin-left: 1.8vw
}

.header-nav a {
  display: flex;
  align-items: center;
  border-top: .16vw solid transparent;
  transition: border .3s ease;
}

.header-nav li:hover a {
  border-color: #EC1B2F;
}

.header .collapse-toggler i {
  font-size: 75%;
  margin-right: .5vw;
  transition: transform .3s ease;
}

.header .collapsible.show .collapse-toggler i {
  transform: rotate(180deg);
}

.header .icon-lopa {
  font-size: 115%;
}

.header-search-link a {
  border-top: .16vw solid transparent !important;
}

.header-search-link a:hover {
  color: #EC1B2F;
}

/* Btn */
.header-btn.d-desktop {
  height: 100%;
}

.header-btn.d-desktop a {
  height: 100%;
  width: 10.9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #EC1B2F;
  border: 1px solid transparent;
  transition: all .3s ease;
}

.header-btn.d-desktop a:hover {
  color: #EC1B2F;
  background-color: white;
  border-color: #EC1B2F;
}

/* Collapse */
.header .collapsible {
  position: relative;
}

.header .collapse {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  white-space: nowrap;
  transform: translateY(100%);
  transition: all .3s ease;
  backface-visibility: hidden;
  opacity: 0;
  visibility: hidden;
}

.header .collapsible.show .collapse {
  opacity: 1;
  visibility: visible;
}

.header .collapse > div {
  background-color: #EC1B2F;
  color: white;
  padding: 1vw;
  line-height: 1.75;
}

.header .collapse ul {
  display: block;
}

.header .collapse li:not(:last-child) {
  margin-left: 1vw;
}

@media (min-width: 1024px) {
  .header .collapse {
    height: auto!important;
  }
}

@media (max-width: 1023.98px) {
  .header {
    height: 15.3vw;
    border-bottom: 1px solid transparent;
  }

  .header .container {
    padding: 0;
    width: 90%;
  }

  .header-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 15.3vw);
    opacity: 0;
    visibility: hidden;
    background-color: white;
    transition: all .3s ease;

    display: flex;
    flex-direction: column;
    padding: 4.67vw 5%;
  }

  .header.show-menu {
    background-color: white;
    color: black;
    border-bottom: 1px solid #e3e3e3;
  }

  .header.show-menu .header-nav {
    opacity: 1;
    visibility: visible;
  }

  .header-logo {
    width: 30vw;
  }

  .header-btn,
  .header-btn .collapsible,
  .header-btn .collapse-toggler {
    height: 100%;
  }

  .header-btn .collapse-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header .collapse-toggler i {
    margin-right: 1vw;
  }

  .header-nav .collapse-toggler i {
    margin-right: auto;
  }

  .header .collapsible:hover .collapse-toggler i {
    transform: none;
  }

  .header .collapsible.show .collapse-toggler i {
    transform: rotate(180deg);
  }

  .header-nav ul {
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    height: auto;
    line-height: 2;
  }

  .header-social {
    margin-top: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e3e3e3;
    padding-top: 4.67vw;
    font-size: 125%;
  }

  .header-social ul {
    flex-direction: row;
  }

  .header-social li:not(:last-child) {
    margin-left: 5.34vw !important;
  }

  .header-nav .collapse {
    position: static;
    transform: none;
  }

  .header-nav .collapse > div {
    position: static;
    transform: none;
    background-color: transparent;
    color: black;
    padding: 2vw 0;
    line-height: 1.4;
  }

  .header-nav a {
    border: none !important;
  }

  .header-nav li:not(:last-child) {
    margin-left: 0;
  }

  .header-nav ul,
  .header-nav li,
  .header-nav li>*,
  .header-nav li a {
    height: auto;
  }

  .header-search-link {
    display: none;
  }

  .header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.67vw;
  }

  .header .icon-lopa {
    font-size: 100%;
    margin-right: 1vw;
  }

  /* Header Categories */
  .header-categories .collapsible {
    position: static;
  }

  .header-categories .collapse {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 15.3vw + 1px)!important;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    color: black;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    transform: none;
    border-top: 1px solid #e3e3e3;
  }

  .header-categories.show .collapse {
    opacity: 1;
    visibility: visible;
  }

  .header-categories .links ul {
    display: flex;
  }

  .header-categories .links ul li:not(:last-child)::after {
    content: '/';
    margin: 0 1.34vw;
  }

  .header-categories .links a {
    text-decoration: underline;
  }

  .header-category>a {
    line-height: 1.4;
  }

  .header-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5.34vw 0;
    border-bottom: 1px solid #e3e3e3;
  }

  .header-category .img {
    width: 61.42vw;
  }

  .header-category .img img {
    width: 100%;
  }

  .header-btn.d-mobile {
    display: flex;
    align-items: center;
    margin-right: 18vw;
  }
}

/* #Hamburger
================================================== */
.header-hamburger {
  display: none;
}

@media (max-width: 1023.98px) {
  .header-hamburger {
    display: flex;
    align-items: center;
  }
}

.hamburger {
  font: inherit;
  display: inline-flex;
  align-items: center;
  overflow: visible;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .3s;
  transition-property: all;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  outline: none !important;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: white;
}

.header-white .hamburger.is-active .hamburger-inner,
.header-white .hamburger.is-active .hamburger-inner:after,
.header-white .hamburger.is-active .hamburger-inner:before,
.header-always-white .hamburger.is-active .hamburger-inner,
.header-always-white .hamburger.is-active .hamburger-inner:after,
.header-always-white .hamburger.is-active .hamburger-inner:before {
  background-color: black;
}

.header.show-menu .hamburger.is-active .hamburger-inner,
.header.show-menu .hamburger.is-active .hamburger-inner:after,
.header.show-menu .hamburger.is-active .hamburger-inner:before {
  background-color: black;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 9.2vw;
  height: 6.13vw;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 9.2vw;
  height: 0.26vw;
  transition-timing-function: ease;
  transition-duration: .3s;
  transition-property: all;
  background-color: white;
}

.header-white .hamburger-inner,
.header-white .hamburger-inner:after,
.header-white .hamburger-inner:before,
.header-always-white .hamburger-inner,
.header-always-white .hamburger-inner:after,
.header-always-white .hamburger-inner:before {
  background-color: black;
}

.header.show-menu .hamburger-inner,
.header.show-menu .hamburger-inner:after,
.header.show-menu .hamburger-inner:before {
  background-color: black;
}

.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: "";
}

.hamburger-inner:before {
  top: 0;
  left: 0;
  width: 75%;
}

.hamburger-inner:after {
  bottom: 0;
  left: 0;
  width: 50%;
}

.hamburger--slider .hamburger-inner {
  top: 0;
  margin-top: 0;
}

.hamburger--slider .hamburger-inner:before {
  top: 2.7vw;
  transition-timing-function: ease;
  transition-duration: .3s;
  transition-property: all;
}

.hamburger--slider .hamburger-inner:after {
  top: 5.4vw;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 2.7vw, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner:before {
  transform: rotate(-45deg) translate3d(-1vw, -2vw, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner:after {
  transform: translate3d(0, -5.4vw, 0) rotate(-90deg);
  width: 100%;
}

/* #Footer
================================================== */
.footer {
  background-color: black;
  color: white;
  position: relative;
  padding-bottom: 9.11vw;
}

.footer h2 {
  position: absolute;
  top: 7.3vw;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}

.footer .container {
  width: 56%;
}

.footer .img img,
.footer .img picture {
  width: 100%;
}

/* Footer Contact */
.footer-contact {
  margin-top: -10vw;
  position: relative;
  z-index: 10;
  margin-bottom: 5.2vw;
  color: white;
}

.footer-contact-top {
  background-color: #EC1B2F;
  padding: 2vw 5.2vw 2.6vw 5.2vw;
}

.footer-contact-top h3,
.footer-contact-top h4 {
  text-align: center;
}

.footer-contact .form {
  margin-top: 1.56vw;
}

.footer-contact .form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.6vw;
}

.footer-contact .form-top>* {
  flex-grow: 1;
}

.footer-contact .form-top>*:not(:last-child) {
  margin-left: 1.56vw;
}

.footer-contact .form input[type="text"] {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  height: 1.8vw;
}

.footer-contact .form input[type="text"]::placeholder {
  color: white;
}

.footer-contact .form select {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  height: 1.8vw;
}

.footer-contact .form option {
  color: black;
}

.footer-contact .form textarea {
  color: white;
  padding: .5vw;
}

.footer-contact .form-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-contact .form-bottom .form-group:first-child {
  width: 23.5vw;
}

.footer-contact-bottom {
  background-color: #FF1F34;
  padding: 1.5vw 5.2vw 1.5vw 5.2vw;
}

/* Main */
.footer-main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}

.footer-logos {
  flex: 0 0 8.125vw;
}

.footer-logos ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-logos li:first-child,
.footer-logos li:first-child img {
  width: 100%;
}

.footer-logos li:first-child {
  margin-bottom: 1.6vw;
}

.footer-logos li:last-child {
  width: 58%;
}

.footer-logos li:last-child img {
  width: 100%;
}

.footer-social {
  position: absolute;
  top: 6vw;
  left: 0;
}

.footer-social ul {
  display: flex;
  font-size: 140%;
}

.footer-social ul li:not(:last-child) {
  margin-left: 0.83vw;
}

/* Links */
.footer-links .accordion ul {
  display: flex;
}

.footer-links .accordion > ul > li:not(:last-child) {
  margin-left: 2vw;
}

.footer-links .collapse-toggler {
  margin-bottom: 0.5vw;
}

.footer-links .collapse ul {
  display: block;
  color: #7C7C7C;
  line-height: 1.75;
}

.footer-links ul li a {
  border-bottom: 0.16vw solid transparent;
  transition: all .3s ease;
}

.footer-links ul li a:hover {
  border-color: #EC1B2F;
}

@media (min-width: 1024px) {
  .footer-links .collapse {
    height: auto!important;
  }
}

@media (max-width: 1023.98px) {
  .footer {
    padding-bottom: 20vw;
  }

  .footer::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 20vw;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .25);
  }

  .footer .container {
    width: 90%;
  }

  .footer-contact {
    margin-top: -45vw;
    margin-bottom: 14.66vw;
  }

  .footer-main {
    display: block;
    position: static;
  }

  .footer-links .accordion ul {
    display: block;
  }

  .footer-links .collapse-toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-links>ul>li:not(:last-child) {
    margin-left: 0;
    margin-bottom: 4vw;
  }

  .footer-links .collapse {
    margin-top: 2vw;
    margin-bottom: 4vw;
  }

  .footer-links .collapse-toggler i {
    transition: all .4s ease;
  }

  .footer-links .collapsible.show .collapse-toggler i {
    transform: rotate(180deg);
  }

  .footer-logos {
    flex: 0 0 100%;
    margin-bottom: 7.33vw;
  }

  .footer-logos ul {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .footer-logos li:first-child {
    width: 42vw;
    margin: 0;
  }

  .footer-logos li:last-child {
    width: 18vw;
    position: absolute;
    bottom: 6vw;
    right: 5%;
  }

  .footer-contact-top,
  .footer-contact-bottom {
    padding: 8vw 5.33vw;
  }

  .footer-contact-top h3,
  .footer-contact-top h4 {
    text-align: center;
    line-height: 1.3;
  }

  .footer-contact .form {
    margin-top: 10vw;
  }

  .footer-contact .form-top {
    display: block;
    margin-bottom: 6vw;
  }

  .footer-contact .form-top>*:not(:last-child) {
    margin-left: 0;
    margin-bottom: 3vw;
  }

  .footer-contact .form input[type="text"],
  .footer-contact .form select {
    height: 8vw;
  }

  .footer-contact .form-bottom {
    display: block;
  }

  .footer-contact .form-bottom .form-group:first-child {
    width: 100%;
    margin-bottom: 8vw;
  }

  .footer-contact .form-bottom .btn {
    width: 100%;
    justify-content: space-between;
  }

  .footer-social {
    position: absolute;
    top: auto;
    bottom: 6vw;
    left: 5%;
  }
  
  .footer-social ul li:not(:last-child) {
    margin-left: 4vw;
  }
}

/* #Banner
================================================== */
.banner {
  position: relative;
  color: white;
}

.banner-slider .swiper-slide {
  position: relative;
}

.banner .container {
  position: absolute;
  top: 5.55vw;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.banner .heading {
  text-align: center;
  margin-bottom: 23.2vw;
}

.banner .logo img {
  height: 2.86vw;
  margin: .78vw auto;
}

.banner .text ul {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  margin-bottom: 2vw;
}

.banner .text ul li {
  flex: 0 0 10.4vw;
}

.banner .text ul li:not(:last-child) {
  border-left: 1px solid #565656;
}

.banner .btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .btn {
  margin: 0 .5vw;
  min-width: 11.45vw;
}

.banner .img,
.banner .img img {
  width: 100%;
  height: 47.5vw;
  object-fit: cover;
  object-position: center;
}

/* Swiper Navigation */
.banner .swiper-navigation {
  position: absolute;
  bottom: 2.9vw;
  right: 7.8vw;
  display: flex;
  align-items: center;
}

.banner .swiper-button-next,
.banner .swiper-button-prev {
  position: static;
  color: white;
  margin-top: 0;
}

.banner .swiper-pagination {
  position: static;
  text-align: right;
  direction: ltr;
  font-size: 1.15vw;
  font-family: 'assistant', sans-serif;
  width: auto;
  align-items: flex-start;
  justify-content: flex-end;
  line-height: 1;
  padding: 0 1vw;
  display: flex;
}

.banner .swiper-pagination-current {
  font-size: 2.35vw;
  margin-top: -.35vw;
}

.banner .swiper-pagination-current::before,
.banner .swiper-pagination-total::before {
  content: '0';
}

.banner .swiper-button-next:after,
.banner .swiper-button-prev:after {
  font-size: 150%;
}

.banner-slider .container {
  opacity: 0;
  transition: all .3s ease .5s;
  backface-visibility: hidden;
}

.banner-slider .swiper-slide-active .container {
  opacity: 1;
}

/* Video */
.banner .video {
  position: absolute;
  left: 1.3vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
}

.banner .video > img {
  width: 15.1vw;
  height: 9vw;
  object-fit: cover;
  object-position: center;
}

.banner .video > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner .video a img {
  width: 2.5vw;
  margin-bottom: .25vw;
}

@media (max-width: 1023.98px) {
  .banner {
    text-align: center;
  }

  .banner .container {
    top: 22.6vw;
    width: 90%;
  }

  .banner .swiper-navigation {
    position: absolute;
    bottom: 6.65vw;
    right: 5.33vw;
    margin-top: 0;
    opacity: 1 !important;
  }

  .banner .swiper-pagination {
    font-size: 4.66vw;
    padding: 0 1vw;
  }

  .banner .swiper-pagination-current {
    font-size: 9.33vw;
    margin-top: -1.2vw;
  }

  .banner-slider .container {
    opacity: 1;
    transition: none;
  }

  .banner .img,
  .banner .img img {
    height: 186vw;
  }

  /* Video */
  .banner .video {
    left: 3.6vw;
    bottom: 3.6vw;
    top: auto;
    transform: none;
  }

  .banner .video > img {
    width: 40.53vw;
    height: 24.13vw;
  }

  .banner .video a img {
    width: 6.65vw;
    margin-bottom: 1vw;
  }

  /* Text */
  .banner .heading {
    margin-bottom: 52vw;
  }
  
  .banner .logo img {
    height:8.8vw;
    margin: 2.66vw auto;
  }
  
  .banner .text ul {
    margin-bottom: 8vw;
  }
  
  .banner .text ul li {
    flex: 0 0 30vw;
  }
  
  .banner .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .banner .btn {
    margin: 0;
    margin-bottom: 4.66vw;
    min-width: 60vw;
  }
}

/* #Vision
================================================== */
.vision {
  position: relative;
}

.vision .img {
  position: relative;
}

.vision .img::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 46.875%;
  height: 100%;
  background-image: linear-gradient(to left, #010101, transparent);
  opacity: .85;
}

.vision .img img {
  width: 100%;
  height: 64.375vw;
  object-fit: cover;
  object-position: center;
}

.vision .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 9.58vw;
  width: 29.68vw;
  color: white;
  line-height: 1.3;
}

.vision h2 {
  margin-bottom: 1.3vw;
}

.vision .btn {
  margin-top: 2.6vw;
  min-width: 12.2vw;
}

@media (max-width: 1023.98px) {
  .vision {
    height: 206.66vw;
    background-color: #010105;
  }
  
  .vision .img {
    position: relative;
  }
  
  .vision .img::after {
    top: auto;
    bottom: -1px;
    transform: none;
    right: 0;
    width: 100%;
    height: 100vw;
    background-image: linear-gradient(to top, #010101, transparent);
    opacity: 1;
  }
  
  .vision .img img {
    height: 120vw;
    object-position: 25% center;
  }
  
  .vision .text {
    top: auto;
    bottom: 16.66vw;
    transform: translateX(50%);
    right: 50%;
    width: 90%;
    text-align: center;
  }
  
  .vision h2 {
    margin-bottom: 5.33vw;
    padding: 0 14vw;
    line-height: 1.1;
    margin-top: 1vw;
  }
  
  .vision .btn {
    margin-top: 8vw;
    min-width: 60vw;
  }
}

/* #Centers
================================================== */
.centers {
  margin: 6vw 0;
}

.centers .container {
  width: 85%;
}

.centers h2 {
  margin-bottom: 1vw;
}

.centers ul {
  display: flex;
  justify-content: space-between;
}

.centers li {
  flex: 0 0 41.66vw;
  position: relative;
}

.centers .img img {
  width: 100%;
  height: 34.11vw;
  object-fit: cover;
  object-position: center;
}

.centers .text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3.9vw;
}

.centers a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18.75vw;
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: .5vw;
}

.centers a img {
  width: 1.3vw;
}

@media (max-width: 1023.98px) {
  .centers {
    margin: 15vw 0;
  }
  
  .centers .container {
    width: 90%;
  }
  
  .centers h2 {
    margin-bottom: 6.65vw;
    text-align: center;
  }
  
  .centers ul {
    display: block;
  }

  .centers li:not(:last-child) {
    margin-bottom: 2.66vw;
  }
  
  .centers .img img {
    height: 77.33vw;
  }
  
  .centers .text {
    bottom: 10vw;
  }
  
  .centers a {
    width: 48vw;
    padding-bottom: 2vw;
  }
  
  .centers a img {
    width: 3.3vw;
  }
}

/* #Discovery
================================================== */
.discovery {
  margin: 8.22vw 0 6.77vw 0;
}

.discovery .container {
  width: 85%;
}

.discovery ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vw;
}

.discovery ul li {
  position: relative;
}

.discovery .img {
  position: relative;
}

.discovery .img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55%;
  background-image: linear-gradient(to top, black, transparent);
  opacity: .7;
}

.discovery .img img {
  width: 100%;
  height: 25.52vw;
  object-fit: cover;
  object-position: center;
}

.discovery .text {
  position: absolute;
  bottom: 1.3vw;
  left: 0;
  width: 100%;
  padding: 0 2.34vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discovery .logo img {
  height: 1.8vw;
  width: auto;
  margin-bottom: .5vw;
}

.discovery a {
  text-decoration: underline;
  margin-top: .5vw;
  display: inline-block;
}

.discovery h3 {
  line-height: 1;
}

.discovery ul li:nth-child(1) {
  grid-column: 1 / 2;
  height: 100%;
  text-align: left;
}

.discovery ul li:nth-child(1) > div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.8vw;
  line-height: 1.2;
}

.discovery ul li:nth-child(2) {
  grid-column: 2 / -1;
}

.discovery ul li:nth-child(3) {
  grid-column: 1 / 3;
}

.discovery ul li:nth-child(4) {
  grid-column: 3 / -1;
}

@media (max-width: 1023.98px) {
  .discovery {
    margin: 20vw 0 13.33vw 0;
  }
  
  .discovery .container {
    width: 90%;
  }
  
  .discovery ul {
    display: block;
  }
  
  .discovery ul li {
    position: relative;
  }

  .discovery ul li:not(:last-child) {
    margin-bottom: 3.33vw;
  }
  
  .discovery .img::after {
    bottom: auto;
    top: 0;
    background-image: linear-gradient(to bottom, black, transparent);
  }
  
  .discovery .img img {
    height: 86.66vw;
  }
  
  .discovery .text {
    bottom: auto;
    top: 0;
    height: 100%;
    padding: 8vw 4vw 5.33vw 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .discovery .logo img {
    height: 5.33vw;
    margin: 0 auto;
    margin-bottom: 2vw;
  }
  
  .discovery a {
    margin-top: .5vw;
  }
  
  .discovery ul li:nth-child(1) {
    height: 37.33vw;
  }
  
  .discovery ul li:nth-child(1) > div {
    padding: 0 5.33vw;
    line-height: 1.3;
  }
}

/* #Swiper Pagination Progressbar
================================================== */
.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 41.14vw;
  height: 3px;
  left: 0;
  transform: none;
  bottom: 1.4vw;
  top: auto;
}

.swiper-pagination-progressbar {
  background: #EDEDED;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: black;
}

@media (max-width: 1023.98px) {
  .swiper-horizontal>.swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* #News
================================================== */
.news {
  margin: 6vw 0 7.3vw 0;
}

.news .container {
  width: 85%;
}

.news .swiper-navigation {
  display: flex;
  align-items: center;
  margin-top: 1.8vw;
  padding-right: .5vw;
}

.news .swiper-arrows {
  display: flex;
  align-items: center;
}

.news .swiper-arrows img {
  width: 2.8vw;
}

.news .prev {
  margin-left: .78vw;
}

.news .tab-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5vw;
}

.news .tab-navigation ul {
  display: flex;
  align-items: center;
}

.news .tab-btn {
  color: #7C7C7C;
  border-bottom: 2px solid transparent;
}

.news .tab-btn:not(:last-child) {
  margin-left: 1.5vw;
}

.news .tab-btn.active {
  color: black;
  border-color: #EC1B2F;
}

.news .swiper {
  margin: 0 -.5vw;
}

.news .swiper-slide {
  padding: 0 .5vw;
}

.news .swiper-slide .img img {
  width: 100%;
  height: 27.6vw;
  object-fit: cover;
  object-position: center;
  margin-bottom: .7vw;
}

@media (max-width: 1023.98px) {
  .news {
    margin: 14.8vw 0 17.3vw 0;
  }
  
  .news .container {
    width: 100%;
  }
  
  .news .swiper-navigation {
    margin-top: 10.66vw;
    padding-right: 0;
  }
  
  .news .swiper-arrows {
    display: none;
  }

  .news h2 {
    padding: 0 5.33vw;
  }
  
  .news .tab-navigation {
    margin-bottom: 6.65vw;
    margin-top: 1vw;
    padding: 0 5.33vw;
  }
  
  .news .tab-btn:not(:last-child) {
    margin-left: 4vw;
  }
  
  .news .swiper {
    margin: 0;
    padding-right: 3.33vw;
  }
  
  .news .swiper-slide {
    padding: 0 2vw;
  }
  
  .news .swiper-slide .img img {
    height: 82.4vw;
    margin-bottom: 2vw;
  }

  .news .swiper-slide p {
    line-height: 1.2;
    margin-top: 1vw;
  }
}

/* #Levels
================================================== */
.levels {
  display: flex;
  align-items: center;
}

.levels p {
  display: flex;
  align-items: center;
}

.levels p:not(:last-child) {
  margin-left: 1.3vw;
}

.levels p span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 1.3vw;
  height: 1.3vw;
  margin-right: .5vw;
}

@media (max-width: 1023.98px) {
  .levels p:not(:last-child) {
    margin-left: 2vw;
  }
  
  .levels p span {
    width: 3.33vw;
    height: 3.33vw;
    margin-right: 1vw;
  }
}

/* #Car Banner
================================================== */
.car-banner {
  position: relative;
  margin-bottom: 2vw;
}

.car-banner .bg img,
.car-banner .bg picture {
  width: 100%;
  height: 50.4vw;
  object-fit: cover;
  object-position: center;
}

.car-banner .car {
  position: absolute;
  top: 9.375vw;
  left: 50%;
  transform: translateX(-50%);
  width: 45.83vw;
}

.car-banner .car img {
  width: 45.83vw;
  height: 19.95vw;
  object-fit: contain;
  object-position: center;
  z-index: 10;
}

.car-banner .big-logo {
  position: absolute;
  top: 6.6vw;
  left: 50%;
  transform: translateX(-50%);
}

.car-banner .big-logo img {
  height: 6.77vw;
}

.car-banner .text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 31vw;
  text-align: center;
  width: 41.4vw;
}

.car-banner .text .logo img {
  height: 1.61vw;
  margin: 0 auto;
  margin-bottom: 1.3vw;
}

.car-banner .text .heading p {
  line-height: 1.3;
}

.car-banner .text ul {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  margin-top: 1.1vw;
}

.car-banner .text ul li {
  flex: 0 0 10.4vw;
}

.car-banner .text ul li:not(:last-child) {
  border-left: 1px solid #565656;
}

.car-banner .levels {
  position: absolute;
  bottom: 3.125vw;
  left: 1.8vw;
}

.car-banner .action {
  position: absolute;
  bottom: 1.1vw;
  right: 7.8vw;
}

.car-banner .price {
  display: flex;
  align-items: center;
  margin-bottom: .5vw;
}

.car-banner .price p {
  margin-left: .5vw;
}

.car-banner .action .btns {
  display: flex;
  margin-bottom: .5vw;
}

.car-banner .action .btn {
  min-width: 11.45vw;
}

.car-banner .action .btn:not(:last-child) {
  margin-left: 1vw;
}

@media (max-width: 1023.98px) {
  .car-banner {
    margin-bottom: 2.66vw;
  }
  
  .car-banner .bg img,
  .car-banner .bg picture {
    height: 193.33vw;
  }
  
  .car-banner .car {
    top: 38.26vw;
    width: 78.4vw;
  }
  
  .car-banner .car img {
    width: 78.4vw;
    height: 34.13vw;
  }
  
  .car-banner .big-logo {
    top: 32.66vw;
    width: 100%;
  }
  
  .car-banner .big-logo img {
    height: 13.33vw;
    margin: 0 auto;
  }
  
  .car-banner .text {
    top: 88vw;
    width: 90vw;
  }
  
  .car-banner .text .logo img {
    height: 4.53vw;
    margin-bottom: 3.3vw;
  }
  
  .car-banner .text .heading p {
    line-height: 1.125;
    padding: 0 4vw;
  }
  
  .car-banner .text ul {
    margin-top: 6vw;
  }
  
  .car-banner .text ul li {
    flex: 0 0 30vw;
  }
  
  .car-banner .levels {
    bottom: 2.66vw;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    justify-content: center;
  }
  
  .car-banner .action {
    bottom: 14.8vw;
    right: 50%;
    transform: translateX(50%);
    width: 90%;
    text-align: center;
  }
  
  .car-banner .price {
    justify-content: center;
    margin-bottom: 2.66vw;
  }
  
  .car-banner .price p {
    margin-left: .5vw;
  }
  
  .car-banner .action .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
  }
  
  .car-banner .action .btn {
    min-width: 60vw;
  }
  
  .car-banner .action .btn:not(:last-child) {
    margin-left: 0;
    margin-bottom: 3.33vw;
  }
}

/* #Car Color
================================================== */
.car-color {
  position: relative;
}

/* Gallery */
.car-color .gallery .swiper-slide {
  position: relative;
}

.car-color .gallery .swiper-slide img,
.car-color .gallery .swiper-slide picture {
  width: 100%;
  height: 52.5vw;
  object-fit: cover;
  object-position: center;
}

.car-color .gallery .swiper-slide .color-code {
  position: absolute;
  bottom: 8.125vw;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

/* Thumbs */
.car-color .thumbs {
  position: absolute;
  bottom: 4.53vw;
  left: 50%;
  transform: translateX(-50%);
}

.car-color .thumbs .swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-color .thumbs .swiper-slide {
  flex: 0 0 1.4vw;
  width: 1.4vw;
  margin: 0 .65vw;
}

.car-color .thumbs .color-selector {
  height: 2.4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.car-color .thumbs .color-selector > div {
  width: 1.4vw;
  height: 1.4vw;
  border-radius: 50%;
  position: relative;
}

.car-color .thumbs .color-selector > div::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2.24vw;
  height: 2.24vw;
  border-radius: 50%;
  border: 1px solid white;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
}

.car-color .thumbs .swiper-slide-thumb-active .color-selector > div::after {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1023.98px) {
  /* Gallery */
  .car-color .gallery .swiper-slide img,
  .car-color .gallery .swiper-slide picture {
    height: 124vw;
  }
  
  .car-color .gallery .swiper-slide .color-code {
    bottom: 28vw;
  }
  
  /* Thumbs */
  .car-color .thumbs {
    bottom: 12.66vw;
  }
  
  .car-color .thumbs .swiper-slide {
    flex: 0 0 6vw;
    width: 6vw;
    margin: 0 2.66vw;
  }
  
  .car-color .thumbs .color-selector {
    height: 10vw;
  }
  
  .car-color .thumbs .color-selector > div {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    position: relative;
  }
  
  .car-color .thumbs .color-selector > div::after {
    width: 9.6vw;
    height: 9.6vw;
  }
}

/* #Car Design
================================================== */
.car-design {
  position: relative;
  padding: 15.36vw 0 26vw 0;
}

.car-design .text {
  margin: 0 auto;
  width: 34.635vw;
  text-align: center;
}

.car-design .text > p {
  margin: 2.4vw 0 1.3vw 0;
}

.car-design .btn {
  min-width: 12.18vw;
}

.car-design .heading {
  line-height: 1.15;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.car-design .heading > *:nth-child(1) {
  margin-right: 8.5vw;
} 

.car-design .heading > *:nth-child(2) {
  margin-right: 5vw;
}

.car-design .heading > *:nth-child(3) {
  margin-right: 8.5vw;
}

.car-design .heading > *:nth-child(4) {
  margin-left: 2vw;
}

.car-design .img-1 {
  position: absolute;
  top: 6.77vw;
  right: 7.8vw;
}

.car-design .img-1 img {
  width: 26.61vw;
  height: 20vw;
  object-fit: cover;
  object-position: center;
}

.car-design .img-2 {
  position: absolute;
  top: 12.13vw;
  left: 7.8vw;
}

.car-design .img-2 img {
  width: 23.17vw;
  height: 31.71vw;
  object-fit: cover;
  object-position: center;
}

.car-design .img-3 {
  position: absolute;
  bottom: 6.77vw;
  right: 21.71vw;
}

.car-design .img-3 img {
  width: 27.76vw;
  height: 16.2vw;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1023.98px) {
  .car-design {
    padding: 70vw 0 93.33vw 0;
  }
  
  .car-design .text {
    width: 90%;
  }
  
  .car-design .text > p {
    margin: 7.33vw 0;
    line-height: 1.15;
  }
  
  .car-design .btn {
    min-width: 60vw;
  }
  
  .car-design .heading > *:nth-child(1) {
    margin-right: 30.5vw;
  } 
  
  .car-design .heading > *:nth-child(2) {
    margin-right: 15vw;
  }
  
  .car-design .heading > *:nth-child(3) {
    margin-right: 28vw;
  }
  
  .car-design .heading > *:nth-child(4) {
    margin-left: 16vw;
  }
  
  .car-design .img-1 {
    top: 9.33vw;
    right: 0;
  }
  
  .car-design .img-1 img {
    width: 68.13vw;
    height: 51.33vw;
  }
  
  .car-design .img-3 {
    display: none;
  }
  
  .car-design .img-2 {
    top: auto;
    bottom: 9.33vw;
    right: auto;
    left: 0;
  }
  
  .car-design .img-2 img {
    width: 54.13vw;
    height: 74.13vw;
  }
}

/* #Car Slider 1
================================================== */
.car-slider-1 {
  position: relative;
}

/* Gallery */
.car-slider-1 .gallery .swiper-slide {
  position: relative;
}

.car-slider-1 .gallery .swiper-slide .img img,
.car-slider-1 .gallery .swiper-slide .img picture {
  width: 100%;
  height: 52.5vw;
  object-fit: cover;
  object-position: center;
}

.car-slider-1 .gallery .text {
  position: absolute;
  bottom: 2.86vw;
  color: white;
  left: 0;
  width: 100%;
  padding: 0 9.63vw 0 10.625vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.car-slider-1 .gallery .text > div:first-child {
  flex: 0 0 53.64vw;
}

.car-slider-1 .gallery .text .btn {
  margin-bottom: 1.1vw;
}

.car-slider-1 .gallery .text h2 {
  line-height: 1;
  margin-bottom: .5vw;
}

/* Thumbs */
.car-slider-1 .thumbs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3.65vw;
  color: white;
}

.car-slider-1 .thumbs .swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-slider-1 .thumbs .swiper-slide {
  width: auto;
  padding: 0 1vw;
  cursor: pointer;
}

.car-slider-1 .thumbs .swiper-slide p {
  border-bottom: 2px solid transparent;
  transition: all .4s ease;
}

.car-slider-1 .thumbs .swiper-slide.swiper-slide-thumb-active p {
  border-color: white;
}

@media (max-width: 1023.98px) {
  /* Gallery */
  .car-slider-1 .gallery .swiper-slide .img img,
  .car-slider-1 .gallery .swiper-slide .img picture {
    height: 193vw;
  }

  .car-slider-1 .gallery .swiper-slide .img {
    position: relative;
  }

  .car-slider-1 .gallery .swiper-slide .img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(to top, black, transparent);
  }
  
  .car-slider-1 .gallery .text {
    bottom: 13.33vw;
    left: 50%;
    transform: translateX(-50%);
    width: 88%;
    padding: 0;
    display: block;
    text-align: center;
    line-height: 1.15;
  }
  
  .car-slider-1 .gallery .text .btn {
    margin-bottom: 0;
    margin-top: 8vw;
  }
  
  .car-slider-1 .gallery .text h2 {
    line-height: 1;
    margin-bottom: 4vw;
  }
  
  /* Thumbs */
  .car-slider-1 .thumbs {
    top: 9.33vw;
  }
  
  .car-slider-1 .thumbs .swiper-slide {
    padding: 0 7vw;
  }
}

/* #Car Video
================================================== */
.car-video {
  padding: 6vw 0;
}

.car-video .container {
  width: 85%;
}

.car-video .heading {
  margin: 0 auto;
  margin-bottom: 3.9vw;
  text-align: center;
  width: 59.16vw;
}

.car-video .heading p {
  line-height: 1.4;
  margin-top: .5vw;
}

.car-video .video {
  position: relative;
  color: white;
}

.car-video .video > img {
  width: 100%;
  height: 44.3vw;
  object-fit: cover;
  object-position: center;
}

.car-video .video > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.car-video .video a img {
  width: 2.5vw;
  margin-bottom: .25vw;
}

@media (max-width: 1023.98px) {
  .car-video {
    padding: 16vw 0 9.33vw 0;
  }
  
  .car-video .container {
    width: 90%;
  }
  
  .car-video .heading {
    margin-bottom: 8vw;
    width: 100%;
  }
  
  .car-video .heading p {
    line-height: 1.15;
    margin-top: 2vw;
    padding: 0 2vw;
  }

  .car-video .heading p br {
    display: none;
  }

  .car-video .video > img {
    width: 100%;
    height: 46.8vw;
  }

  .car-video .video a img {
    width: 11.46vw;
    margin-bottom: 1vw;
  }
}

/* #Car Gallery
================================================== */
.car-gallery {
  background-color: black;
  color: white;
  text-align: center;
  padding: 32.6vw 0 4.4vw 0;
  margin-top: -32.6vw;
}

.car-gallery h2 {
  margin-bottom: 1.6vw;
}

.car-gallery .swiper {
  padding-bottom: 3.9vw;
}

.car-gallery .swiper-slide {
  padding: 0 1.22vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 31.82vw;
}

.car-gallery .swiper-slide .img {
  width: 100%;
}

.car-gallery .swiper-slide img {
  width: 100%;
  height: 31.82vw;
  object-fit: cover;
  object-position: center;
  margin: auto;
  transition: all .15s ease;
}

.car-gallery .swiper-slide:not(.swiper-slide-active) img {
  height: 25.625vw;
}

.car-gallery .swiper-horizontal>.swiper-pagination-progressbar, 
.car-gallery .swiper-pagination-progressbar.swiper-pagination-horizontal, 
.car-gallery .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, 
.car-gallery .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.car-gallery .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: white;
}

.car-gallery .swiper-pagination-progressbar {
  background: rgba(255, 255, 255, 0.25);
}

.car-gallery .swiper-arrows img {
  width: 2.8vw;
}

@media (min-width: 1024px) {
  .car-gallery .prev {
    position: absolute;
    top: 14.58vw;
    right: 18vw;
    z-index: 20;
  }
  
  .car-gallery .next {
    position: absolute;
    top: 14.58vw;
    left: 18vw;
    z-index: 20;
  }
}

@media (max-width: 1023.98px) {
  .car-gallery {
    padding: 31.46vw 0 12vw 0;
    margin-top: -31.46vw;
  }
  
  .car-gallery h2 {
    margin-bottom:4vw;
  }
  
  .car-gallery .swiper {
    padding-bottom: 0;
  }
  
  .car-gallery .swiper-slide {
    padding: 0 1.22vw;
    height: 44vw;
  }
  
  .car-gallery .swiper-slide img {
    height: 44vw;
  }
  
  .car-gallery .swiper-slide:not(.swiper-slide-active) img {
    height: 35.46vw;
  }
  
  .car-gallery .swiper-pagination {
    display: none;
  }

  .car-gallery .swiper-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5.33vw;
  }

  .car-gallery .swiper-arrows .prev {
    margin-left: 3.33vw;
  }
  
  .car-gallery .swiper-arrows img {
    width: 8.26vw;
  }
}

/* #Car Slider 2
================================================== */
.car-slider-2 {
  padding: 4.5vw 0 6.77vw 0;
}

.car-slider-2 .container {
  width: 92%;
  padding: 0 3.9vw;
  position: relative;
}

.car-slider-2 .swiper {
  margin: 0 -.5vw;
  position: static;
}

.car-slider-2 .swiper-slide {
  padding: 0 .5vw;
}

.car-slider-2 .swiper-slide img {
  width: 100%;
  height: 27vw;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1vw;
}

.car-slider-2 .swiper-slide .text {
  padding-left: 2vw;
}

.car-slider-2 .swiper-slide h3 {
  margin-bottom: .25vw;
}

.car-slider-2 .swiper-arrows img {
  width: 2.8vw;
}

.car-slider-2 .prev {
  position: absolute;
  right: 0;
  top: 13.5vw;
  transform: translateY(-50%);
}

.car-slider-2 .next {
  position: absolute;
  left: 0;
  top: 13.5vw;
  transform: translateY(-50%);
}

@media (min-width: 1024px) {
  .car-slider-2 .swiper-pagination {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .car-slider-2 {
    padding: 18vw 0 20.66vw 0;
  }
  
  .car-slider-2 .container {
    width: 100%;
    padding: 0;
    position: relative;
    padding-right: 2.46vw;
  }
  
  .car-slider-2 .swiper {
    margin: 0;
    padding-bottom: 10.33vw;
  }
  
  .car-slider-2 .swiper-slide {
    padding: 0 2.46vw;
  }
  
  .car-slider-2 .swiper-slide img {
    height: 51vw;
    margin-bottom: 4vw;
  }
  
  .car-slider-2 .swiper-slide .text {
    padding-left: 2vw;
  }
  
  .car-slider-2 .swiper-slide h3 {
    margin-bottom: 2vw;
  }

  .car-slider-2 .swiper-slide p {
    line-height: 1.15;
  }
  
  .car-slider-2 .swiper-arrows {
    display: none;
  }

  .car-slider-2 .swiper-pagination {
    bottom: 0;
    width: 78.66%;
  }
}


/* #Range Slider
================================================== */
.rs-container .rs-scale {
  display: none;
}

.rs-container .rs-bg, .rs-container .rs-selected {
  background-color: #DBDBDB;
  border: 1px solid #DBDBDB;
}

.rs-container .rs-bg, .rs-container .rs-selected {
  height: .83vw;
  border-radius: 2vw;
}

.rs-container .rs-selected {
  background-color: #7d7d7d;
  border: 1px solid #7d7d7d;
}

.rs-container .rs-pointer {
  background-color: #EC1B2F;
  border: none;
  border-radius: 50%;
  height: 1.5vw;
  width: 1.5vw;
  left: -10px;
  top: 0;
  box-shadow: none;
}

.rs-container .rs-pointer::after,
.rs-container .rs-pointer::before {
  display: none;
}

@media (max-width: 1023.98px) {
  .rs-container .rs-bg, 
  .rs-container .rs-selected {
    height: 3.2vw;
  }
  
  .rs-container .rs-pointer {
    height: 6.65vw;
    width: 6.65vw;
    top: -.5vw;
  }
}

/* #Car Specs
================================================== */
.car-specs {
  margin-bottom: 7vw;
}

.car-specs .container {
  width: 59%;
}

.car-specs .img img {
  width: 54vw;
  height: 23.5vw;
  object-fit: contain;
  object-position: center;
  margin: 0 auto;
}

.car-specs .pdfs {
  display: flex;
  align-items: center;
  padding-top: 1.3vw;
  border-top: 1px solid #CBCBCB;
  margin-top: 1.8vw;
}

.car-specs .pdfs a {
  display: flex;
  align-items: center;
}

.car-specs .pdfs a:first-child {
  margin-left: 3.125vw;
}

.car-specs .pdfs img {
  width: 1.25vw;
  margin-left: .5vw;
}

.car-specs h2 {
  text-align: center;
  margin-bottom: .5vw;
}

.car-specs .specs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -1.1vw;
}

.car-specs .specs li {
  flex: 0 0 23%;
  margin-bottom: 1.1vw;
}

@media (min-width: 1024px) {
  .car-specs .tab-navigation {
    margin-bottom: 2.6vw;
  }

  .car-specs .tab-navigation ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .car-specs .tab-btn {
    color: #7C7C7C;
    transition: all .4s ease;
    border-bottom: 2px solid transparent;
  }

  .car-specs .tab-btn:not(:last-child) {
    margin-left: 2vw;
  }

  .car-specs .tab-btn.active {
    color: black;
    border-color: #EC1B2F;
  }
}

@media (max-width: 1023.98px) {
  .car-specs {
    margin-bottom: 15vw;
  }
  
  .car-specs .container {
    width: 92%;
  }
  
  .car-specs .img img {
    width: 100%;
    height: 42vw;
    margin-bottom: 5vw;
  }
  
  .car-specs .pdfs {
    justify-content: center;
    padding-top: 10vw;
    margin-top: 0;
    border-top: none;
  }
  
  .car-specs .pdfs a:first-child {
    margin-left: 10vw;
  }
  
  .car-specs .pdfs img {
    width: 4.66vw;
    margin-left: 2vw;
  }
  
  .car-specs h2 {
    text-align: center;
    margin-bottom: .5vw;
  }
  
  .car-specs .specs {
    margin-bottom: -5.33vw;
  }
  
  .car-specs .specs li {
    flex: 0 0 45%;
    margin-bottom: 5.33vw;
  }

  .car-specs .collapse-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CBCBCB;
    padding: 4.33vw 0 1vw 0;
  }

  .car-specs .collapse > div {
    padding-top: 5.33vw;
    padding-bottom: 2vw;
  }
}

/* #Car Finance
================================================== */
.car-finance {
  background-color: #F8F8F8;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 3.125vw 7.8vw 5.2vw 0;
}

.car-finance .img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-18.22vw);
  mix-blend-mode: multiply;
}

.car-finance .img img {
  width: 78.59vw;
  height: 36.82vw;
  object-fit: contain;
  object-position: center;
}

.car-finance .text {
  flex: 0 0 55.31vw;
  position: relative;
  z-index: 1;
}

/* Bottom */
.car-finance .bottom {
  line-height: 1.5;
  padding-top: .5vw;
}

/* Price */
.car-finance .price {
  border-top: 1px solid #CBCBCB;
  border-bottom: 1px solid #CBCBCB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  padding: 1.2vw 0;
}

.car-finance .price > * {
  flex: 0 0 15.625vw;
}

.car-finance .price .btn {
  width: 100%;
}

/* Heading */
.car-finance .heading {
  margin-bottom: 2.6vw;
  max-width: 52vw;
}

/* Range Sliders */
.car-finance .range-sliders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1vw;
}

.car-finance .range-slider {
  flex: 0 0 15.625vw;
}

.car-finance .range-slider-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1.2;
  margin-bottom: .25vw;
}

/* Model */
.car-finance .model {
  margin-bottom: 1.3vw;
}

.car-finance .model ul {
  display: flex;
  justify-content: space-between;
}

.car-finance .model ul li {
  flex: 0 0 15.625vw;
}

.car-finance .select-primary {
  margin-top: .5vw;
}

@media (max-width: 1023.98px) {
  .car-finance {
    display: block;
    padding: 8vw 5.33vw 13.33vw 5.33vw;
  }
  
  .car-finance .img {
    position: absolute;
    left: 5vw;
    top: auto;
    bottom: 70vw;
    transform: none;
    mix-blend-mode: multiply;
    width: 147vw;
  }
  
  .car-finance .img img {
    width: 147vw;
    height: 68.93vw;
  }
  
  /* Bottom */
  .car-finance .bottom {
    line-height: 1.38;
    padding-top: 0;
    margin-top: 80.66vw;
  }
  
  /* Price */
  .car-finance .price {
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1.2vw 0;
    text-align: center;
  }
  
  .car-finance .price > * {
    flex: 0 0 42%;
  }

  .car-finance .price > *:first-child {
    margin-left: 8vw;
  }
  
  .car-finance .price .btn {
    width: 100%;
    margin-top: 9.33vw;
  }
  
  /* Heading */
  .car-finance .heading {
    margin-bottom: 6.65vw;
    max-width: 100%;
    text-align: center;
  }

  .car-finance .heading h2 {
    margin-bottom: 1.5vw;
  }
  
  /* Range Sliders */
  .car-finance .range-sliders {
    display: block;
    margin-bottom: 1vw;
  }
  
  .car-finance .range-slider-text {
    line-height: 1.2;
    margin-bottom: 3vw;
    align-items: flex-end;
  }
  
  /* Model */
  .car-finance .model {
    margin-bottom: 8vw;
    text-align: center;
  }
  
  .car-finance .model ul {
    display: flex;
    justify-content: space-between;
  }
  
  .car-finance .model ul li {
    flex: 0 0 30%;
  }
  
  .car-finance .select-primary {
    margin-top: .5vw;
  }
}

/* #Text Page Content
================================================== */
.text-page-content {
  padding: 6.92vw 0 12.3vw 0;
}

.text-page-content .container {
  width: 52%;
}

.text-page-content h1 {
  font-size: 3.125vw;
  text-align: center;
  margin-bottom: 1.8vw;
  font-weight: 500;
}

.text-page-content h3 {
  font-size: 1.3vw;
  font-weight: 400;
  margin-bottom: 1.3vw;
}

.text-page-content p,
.text-page-content ol,
.text-page-content ul {
  font-size: 1.04vw;
  margin-bottom: 1.3vw;
}

.text-page-content ol li,
.text-page-content ul li {
  padding-right: 1vw;
}

.text-page-content ol li:not(:last-child),
.text-page-content ul li:not(:last-child) {
  margin-bottom: 1.3vw;
}

.text-page-content ol {
  padding-right: 12px;
}

@media (max-width: 1023.98px) {
  .text-page-content {
    padding: 13.33vw 0;
  }
  
  .text-page-content .container {
    width: 89%;
  }
  
  .text-page-content h1 {
    font-size: 9.33vw;
    margin-bottom: 4vw;
  }
  
  .text-page-content h3 {
    font-size: 4.26vw;
    margin-bottom: 5.33vw;
    line-height: 1.15;
  }
  
  .text-page-content p,
  .text-page-content ol,
  .text-page-content ul {
    font-size: 4.264vw;
    margin-bottom: 3.33vw;
    line-height: 1.15;
  }
  
  .text-page-content ol li,
  .text-page-content ul li {
    padding-right: 2vw;
  }
  
  .text-page-content ol li:not(:last-child),
  .text-page-content ul li:not(:last-child) {
    margin-bottom: 3.33vw;
  }
  
  .text-page-content ol {
    padding-right: 12px;
  }
}

/* #Error
================================================== */
.error-page {
  background-color: #030203;
}

.error {
  position: relative;
}

.error .img img,
.error .img picture {
  width: 100%;
}

.error .heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6.77vw;
  color: white;
  text-align: center;
  opacity: .6;
  line-height: 1.1;
}

.error .links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 7.8vw;
  color: white;
  text-align: center;
  opacity: .6;
  width: 90%;
}

.error .links ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error .links ul li:not(:last-child) {
  padding-left: 3.68vw;
  margin-left: 3.68vw;
  border-left: 1px solid #B1B1B1;
}

@media (max-width: 1023.98px) {
  .error .heading {
    top: 20vw;
  }
  
  .error .links {
    bottom: auto;
    top: 109.33vw;
    opacity: .6;
    width: 60%;
  }
  
  .error .links ul {
    display: block;
  }

  .error .links ul li {
    border: 1px solid #B1B1B1;
  }
  
  .error .links ul li:not(:last-child) {
    padding-left: 0;
    margin-left: 0;
    border-left: 1px solid #B1B1B1;
    margin-bottom: 4vw;
  }

  .error .links a {
    width: 100%;
    height: 11.33vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}